body {
    text-align: center;
    font-style: calc() ;
}
.aboutme {
    color:jungle rgb(11, 39, 11);
    text-align: center ;
}
.hod {
    box-sizing: border-box;
    text-align: center;
}
.bil {
    color:brown;
    align-items: center;
    font-size: 41px;
    text-align: center;
}

#page {
    background-image: url(../images/20200919153539_IMG_0652.JPG);
    height: 100%;
    width: 100%;
    background-position:inherit;
    background-attachment:fixed;
    background-color: mediumpurple;
    font-size: 20px;
}

.hobbies {
    align-content:space-between;
    padding: 15%;
    text-align:center;
    font-style:italic;
}
.img {
    height: 15%;
    width: 80%;
}
.pic{
    align-content: center;
}
