body {
    font-style: calc() ;
}
.aboutme {
    color:jungle rgb(11, 39, 11);
    text-align: center ;
}
.hod {
    box-sizing: border-box;
    text-align: center;
}
.bil {
    color:brown;
    align-items: center;
    font-size: 41px;
    text-align: center;
}
.bel {
    border-style:hidden;
    border-color: indigo;
    background-attachment: fixed;
    text-decoration-style: double;
    text-align: justify;
}
#page {
    background-position: center ;
    background-attachment:fixed;
    background-color: mediumpurple;
}
.study {
    background-color: 
    background-image: url ("images/page.jpeg");
    text-decoration-color: cyan ;
    text-emphasis-position:inherit ;
}
.hobbies {
    text-align:left ;
    text-decoration: mediumvioletred;
    background-image: url("/images/20200919153539_IMG_0652.JPG");
}
.im {
    text-align: center;
}