body {
    background-image:url("images/pankaj-patel-eygpU6KfOBk-unsplash.jpg");
    color: "to right #0f0c29 to right #302b63 to right #24243e"
}
.aboutme {
    color:blueviolet;
    place-content: center;
}
.hod {
    box-sizing: border-box;
}
.bil {
    color:brown;
    align-content: center;
    font-size: 82px;
}
.bel {
    border-style: solid;
    border-color: coral;
    
}